.dropdown {
    position: relative;
    border: none;
}

.dropdown button {
 background: white;
 height: 30px;
 width: 200px;
 color: black;
 display: flex;
 align-items: center;
 padding-left: 10px;
}

.panel {
    position: absolute;
    background: white;
    padding: 10px;
    color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 14px;
    overflow-y: auto;
    height: 260px;
}

.panel fieldset {
    display: flex;
    align-items: center;
    border: none;
}

.panel fieldset.selected {
    background: #e5f4fa;
    padding: 2px;
    border-radius: 8px;
}